doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Login page
  body 
    h1 Login page

    if messages.error_creds
      span= messages.error_creds
    form(action="/login" method="POST")
      div 
        label(for="email") Email 
        input(id="email" type="text" name="email")
      div 
        label(for="password") Password 
        input(id="password" type="password" name="password") 
      div 
        input(type="submit")

    a(href="/register") Register